/* h1 {
  color: red;
  text-align: right;
}
   */
/* .abc {
    color: red;
}

#def {
    color: blue;
}

.tttt {
    font-size: 48px;
} */

/* h1, .abc {

} */

/* .abc u {
    color: yellow;
} */

